<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>medigreen</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="css/jarifIndex.css">
</head>
<body>
    <!-- loader  -->
    <!--
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    -->
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">

            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="/index"><img src="images/logo.png" alt="#"style="margin-left: -50%;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pt-3 pt-5">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main"style="margin-left: -17%;">
                                        <li class="active nav-btn"> <a href="/index" class="text-muted">Home</a> </li>
                                        <li class="active nav-btn"> <a href="/about" class="text-muted">About Us</a> </li>
                                        <li class ="active nav-btn"><a href="/brand" class="text-muted">Products</a></li>
                                        <li class="active nav-btn"><a href="/cart" class="text-muted">My Cart</a></li>
                                        <li class="active nav-btn"><a href="/order" class="text-muted">My Order</a></li>
                                        <li class="active nav-btn"><a href="/expert" class="text-muted">Experts</a></li>
                                        <!--
                                        <li class="active nav-btn"><a href="/forum" class="text-muted">Forum</a></li>
                                        -->
                                        <li class="active nav-btn"><a href="/account" class="text-muted">Log Out</a></li>
                                        <!--<li class="last">
                                            <a href="#"><img src="images/search_icon.png" alt="icon" /></a>
                                        </li>-->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <section class="cart container mt-2 my-3 py-5">
        <div class="container mt-2">
            <h4>Your Cart</h4>
        </div>
        <table class="pt-5" style="width:100%">
            <tr style="background-color: rgb(17, 18, 69);">
                <th style="padding-left: 10px; color: aliceblue;">Product</th>
                <th style="text-align: center;color: aliceblue;">Quantity</th>
                <th style="text-align: right;padding-right: 10px;color: aliceblue;">Subtotal</th>
            </tr>

            <% cart.forEach(function(item){ %>


            <tr>
                <td>
                    <div>
                        <div style="float:left">
                         <img src="images/<%=item.medicine_image%>"width="50"height="80">
                         <!--<img src="images/1.png"width="50"height="80">-->
                        </div>
                        <div>
                            <p><%=item.medicine_name%></p>
                            <!--<p>Power Gel</p>-->
                            <!--<small><span>120 &#2547</span></small>-->
                            <% if(item.medicine_sale_price){%>
                                <small><span><%=item.medicine_sale_price%> &#2547</span></small>
                            <% }else{%>
                                <small><span><%=item.medicine_price%> &#2547</span></small>
                            <%}%> 
                            <br>
                            <form method="post" action="/remove_product">
                                <input type="hidden" name="id"value="<%=item.medicine_id%>">
                                <input style="cursor:pointer;" type="submit" name="remove_btn"value="remove">
                            </form>
                        </div>
                    </div>
                </td>
                <td style="text-align: center;">
                    <form method="post"action="/edit_product_quantity">
                        <input type="hidden"value="<%=item.medicine_id%>"name="id">
                        <input style="border:none;background: none;cursor:pointer"type="submit"value="-"name="decrease_product_quantity">
                        <input style="width: 50px;text-align: center;background-color: #e0ce0b;" type="text"value="<%=item.medicine_quantity%>"name="quantity"readonly>
                        <input style="border:none;background: none;cursor:pointer"type="submit"value="+"name="increase_product_quantity">
                    </form>
                </td>
                <td style="text-align: right;padding-right: 10px;">
                    <!--<span>120 &#2547</span>-->
                    <% if(item.medicine_sale_price){%>
                        <span><%=item.medicine_sale_price*item.medicine_quantity%> &#2547</span>
                    <%}else{%>
                        <span><%=item.medicine_price*item.medicine_quantity%> &#2547</span>
                    <%}%>
                    
                </td>
            </tr>
            <tr></tr>
            <%})%>
        </table>
        
        <hr style="width:100%;text-align:center;color:black(244, 20, 20) ;">
    <div>
        <table class="pt-5" style="width:100%">
            <tr>
                <th style="text-align:right">Total:  <%=total%> &#2547</th>
            </tr>
        </table>
    </div>
    <br>
    <div>
        <form style="text-align:right;"method="post"action="/place_order">
            <input style="background-color:rgb(17, 18, 69) ;color:aliceblue;cursor:pointer" type="submit"name=""value="checkout">
        </form>
    </div>
    </section>
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/plugin.js"></script>
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
<!-- javascript -->
<script src="js/owl.carousel.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script>
    $(document).ready(function() {
        $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
        });

        $(".zoom").hover(function() {

            $(this).addClass('transition');
        }, function() {

            $(this).removeClass('transition');
        });
    });
</script>
</body>
</html>
