<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Medigreen</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <!--One extra jarifs add-->
    <link rel="stylesheet" type="text/css" href="css/all.min.css">
    <!--ends-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
    <!--My CSS jarif-->
    <link rel="stylesheet" href="css/jarifIndex.css">
    <link rel="stylesheet" href="css/productDetails.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

</head>

<body class="main-layout">
    <!-- loader  -->
    <!--
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    -->
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header border-bottom">

            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="/index"><img src="images/logo.png" alt="#"style="margin-left: -50%;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pt-3 pt-5">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main"style="margin-left: -17%;">
                                        <li class="active nav-btn"> <a href="/index" class="text-muted">Home</a> </li>
                                        <li class="active nav-btn"> <a href="/about" class="text-muted">About Us</a> </li>
                                        <li class ="active nav-btn"><a href="/brand" class="text-muted">Products</a></li>
                                        <li class="active nav-btn"><a href="/cart" class="text-muted">My Cart</a></li>
                                        <li class="active nav-btn"><a href="/order" class="text-muted">My Order</a></li>
                                        <li class="active nav-btn"><a href="/expert" class="text-muted">Experts</a></li>
                                        <!--
                                        <li class="active nav-btn"><a href="/forum" class="text-muted">Forum</a></li>
                                        -->
                                        <li class="active nav-btn"><a href="/account" class="text-muted">Log Out</a></li>
                                        <!--<li class="last">
                                            <a href="#"><img src="images/search_icon.png" alt="icon" /></a>
                                        </li>-->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>

    <div class="card-container" style="padding-bottom: 2%;">
    <div class="container" style="margin-top: 2%;">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card">
                        <div class="row">

                            <div class="col-md-6 text-center align-self-center"> 
                                
                                <!--Product Image-->
                                <img class="img-fluid"
                                    src="images/<%=product.image%>">

                            </div>
                            <div class="col-md-6 info">
                                <div class="row title">
                                    
                                    <!--Product Name-->
                                    <div class="col">
                                        <h2 class="text-success"><%=product.name%></h2>
                                    </div>
                                </div>
                                <p>Category : <%=product.category%></p>
                                <p>MRP : <%=product.price%> &#2547</p>
                                <p>Usage : Protin Based Gel</p>
                                <!--Product description-->
                                <p>Product Description</p>
                                
                                <!--Product Price-->
                                <!--
                                <div class="row price" style="font-size: 20px; margin-left: 38%; margin-top: 20%;"> <span>
                                            <div class="row"><b>Price</b></div>
                                            <div class="row">200tk</div>
                                        </span>

                                
                                 </div>
                                 -->
                            </div>
                        </div>

                        
                        <!--Add to Cart backend-->
                        <div class="row lower">
                            <div class="col text-right align-self-center"> 
                                <form action="/add_to_cart" method="post">
                                    <input type="hidden" name="id" value="<%=product.id%>">
                                <input type="hidden" name="name" value="<%=product.name%>">
                                <input type="hidden" name="price" value="<%=product.price%>">
                                
                                <input type="hidden" name="quantity" value="1">
                                <input type="hidden" name="image" value="<%=product.image%>">
                                <button class="btn" style="margin-right: 10%; margin-top: -10%;">
                                    Add to cart
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--Footer-->
    <!-- Copyright -->
    <!--
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright: (MediGreen)
        <a class="text-reset fw-bold" href="https://www.facebook.com/bijoysaeem">Bijoy</a> -
        <a class="text-reset fw-bold" href="https://www.facebook.com/JarifIslam001/">Jarif</a>
    </div>
    -->
    <!-- Copyright -->
    <!--Footer ends-->

</body>
</html>
